html {
    scroll-behavior: smooth;
}
body {
    padding-top: 28px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 28px;
    background-color: var(--vscode-editor-background);
}
body.vscode-light .backLogo {
    background-image: url("__LF__/swiftstream-light.png");
}
.disabled {
    cursor: default!important;
}
.svgIcon {
    color: var(--vscode-editor-foreground); 
}
.radios .radio {
    background-color: var(--vscode-editor-selectionHighlightBackground);
    border-color: #FFFFFF00;
    border-width: 3px;
    border-radius: 8px;
    border-style: solid;
    margin-right: 16px;
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.radios input[type=radio] {
    display: none;
}
.radios input[type=radio]:hover + .radio {
    background-color: var(--vscode-editor-inactiveSelectionBackground);
}
body.vscode-high-contrast:not(.vscode-high-contrast-light) .radios input[type=radio]:hover + .radio {
    background-color: transparent!important;
    border-color: var(--vscode-button-border,transparent)!important;
}
.radios input[type=radio]:checked + .radio {
    background-color: var(--vscode-editor-selectionBackground);
    cursor: default;
    border-color: var(--vscode-button-background);
}
body.vscode-high-contrast:not(.vscode-high-contrast-light) .radios input[type=radio]:checked + .radio {
    background-color: transparent!important;
    border-color: var(--vscode-button-border,transparent)!important;
}
.radios .hint {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    left: -20px;
    right: -20px;
    background-color: var(--vscode-editor-background);
    border-color: #FFFFFF00;
    border-width: 0px;
    border-radius: 8px;
    border-style: solid;
    opacity: 0.9;
    z-index: 1000;
}
body.vscode-high-contrast:not(.vscode-high-contrast-light) .radios .hint {
    background-color: var(--vscode-editor-background)!important;
}
.radios .hint span {
    position: relative;
    display: block;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    padding: 4px 8px;
    font-size: var(--vscode-font-size);
    font-weight: lighter;
    text-align: center;
    border-color: var(--vscode-editor-selectionBackground);
    border-width: 1px;
    border-radius: inherit;
    border-style: inherit;
}
body.vscode-high-contrast:not(.vscode-high-contrast-light) .radios .hint span {
    background-color: var(--vscode-editor-background)!important;
    border-color: var(--vscode-button-border,transparent)!important;
}
.radios input[type=radio]:hover + .radio .hint {
    display: block;
}
.radios label.radio {
    position: relative;
}
body.vscode-high-contrast:not(.vscode-high-contrast-light) .radio img {
    filter: invert(100%);
}
.t_name {
    width: calc(100% - 45px);
    border-color: var(--vscode-editor-inactiveSelectionBackground);
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    padding: 4px 8px;
}
.t_name::placeholder {
    color: var(--vscode-input-placeholderForeground);
}
.t_name:focus {
    border-color: var(--vscode-button-background);
    outline: var(--vscode-button-background);
}
.fileInputBox {
    display: inline-block;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border-color: var(--vscode-editor-inactiveSelectionBackground);
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
    padding: 4px 8px;
    width: calc(100% - 45px);
    cursor: pointer;
}
.fileInputBoxBut {
    display: inline-block;
    margin-left: 5px;
    background-color: transparent;
    color: var(--vscode-input-foreground);
    cursor: pointer;
}
.t_path {
    display: inline-block;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border-color: var(--vscode-editor-inactiveSelectionBackground);
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
    padding: 4px 8px;
    width: calc(100% - 45px);
    cursor: pointer;
}
.t_path_but {
    display: inline-block;
    margin-left: 5px;
    background-color: transparent;
    color: var(--vscode-input-foreground);
    cursor: pointer;
}
.fileInput input[type=file] {
    display: none;
}
.selectButton {
    position: relative;
    display: inline-block;
    min-width: 233px;
    border: 1px solid var(--vscode-button-border,transparent);
    border-radius: 2px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 6px 10px;
    cursor: pointer;
    margin-top: 16px;
    z-index: 0;
}
.selectButton:hover {
    background-color: var(--vscode-button-hoverBackground);
}
.selectButton:disabled {
    background-color: var(--vscode-button-secondaryBackground)!important;
    color: var(--vscode-button-secondaryForeground)!important;
    cursor: default;
}
#createLoader {
    display:none;
}
#createTooLongHint {
    display: none;
    margin-top: 4px;
}
#openProjectButtonHint {
    display: none;
    margin-top: 8px;
}
#openProjectButton {
    display: none;
}
/* HTML: <div class="loader"></div> */
.loader {
    position: absolute;
    left: 12px;
    top: 5px;
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid;
    border-color: var(--vscode-button-foreground) #0000;
    animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}